{% load static %}


<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css" integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">

    <title>About</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Maktabun</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/library">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contract">Contact</a>
        </li>
      </ul>

      <form class="d-flex me-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1 class="text-center">Maktabun</h1>
<h3>Maktabun: A Modern Learning App for Today’s Students</h3>

<br>
<p>Maktabun is an innovative learning application designed to make education easier, smarter, and more accessible for students of all ages. With a focus on clarity, simplicity, and effective learning, Maktabun brings together essential study tools in one user-friendly platform.</p>

<h3>A Complete Study Companion</h3>

<p>Maktabun is built to support learners in their daily academic journey. Whether a student needs to revisit class lessons, solve problems, or practice new skills, the app provides structured and easy-to-understand content. Its clean interface helps students focus, making learning distraction-free and enjoyable.</p>

{% load static %}

<h3 class="text-center">Maktans</h3>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/11.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shahed Ahmed</h5>
          <p class="card-text">CEO & CTO of Maktabun mobile app.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/13.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mehedi Hasan</h5>
          <p class="card-text">Junior developer of Maktabun wep app.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/12.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ahmed Shahed</h5>
          <p class="card-text">Islamic studies & Arabic language teacher.</p>
          <a href="#" class="btn btn-success">Details</a>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br><br><br><br><br><br><br>


<br><br><br><br><br><br><br><br>
<footer class="bg-info text-white position-relative">
  <p class="text-center py-2 mr-0">
    Copyright 2026-2040 www.maktabun.com. All rights reserved. Developed by Maktabun.
  </p>
</footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    -->
  </body>
</html>
